<div class="content">
  <div class="input__place">
    <select [(ngModel)]="invertNeeded" class="attachment select__inversion">
      <option value="none">none</option>
      <option value="true">!</option>
    </select>

    <input [(ngModel)]="firstOperand" class="attachment" type="number" value="0">

    <select [(ngModel)]="operation" class="attachment select__operation">
      <option value="&&">&&</option>
      <option value="||">||</option>
    </select>

    <input [(ngModel)]="secondOperand" class="attachment" type="number" value="0">

    <input (click)="submitFunc()" class="attachment submit" type="submit" value="Отправить">
  </div>

  <div class="output__place">
    <h1 class="result">Результат: {{result}}</h1>
    <h1 class="error">Ошибка: {{error}}</h1>
  </div>

</div>
