body {
  margin: 0;
  padding: 0;
  border: 0;

  display: block;
}

header {
  height: 5em;
  width: 100%;
  background: #bccdcd;

  display: grid;
  justify-content: center;
  align-items: center;
}

.logo__text {
  margin: 0;
  text-align: center;

  font-family: 'Trispace', sans-serif;
  color: white;
  font-size: 2em;
}
